<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" media="screen" href="/css/auth.css">
    <title>Nitomoe Admin</title>
</head>

<body>
    <div class="auth">
        <div class="main-content">
            <div class="title">Nitomoe Login</div>
            <div class="form">
                <form method="POST" id="auth" action="/admin">
                    <div class="input-group">
                        <input type="text" placeholder="Username" autofocus>
                    </div>
                    <div class="input-group">
                        <input type="password" placeholder="Password">
                    </div>
                    <div class="input-group">
                        <button type="submit" form="auth">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>